.datas {
	padding-left: 115px;
	display: flex;
	margin-left: 100px;

	@media screen and (max-width: 1024px) {
		flex-direction: column-reverse;
		margin-left: 50px;
	}

	.left {
		.bot {
			margin-top: 40px;
			display: flex;
			gap: 30px;

			@media screen and (max-width: 1536px) {
				margin-top: 20px;
			}
		}
	}

	.right {
		margin-left: 50px;

		@media screen and (max-width: 1024px) {
			margin-left: 0px;
		}
	}
}
