.menu {
	background-color: black;
	width: 115px;
	height: calc(100vh - 90px);
	display: flex;
	justify-content: center;
	align-items: center;

	.nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;

		&_item {
			width: 64px;
			height: 64px;
			background-color: white;
			border-radius: 6px;
		}
	}
}
