.menu {
	background-color: #020203;
	width: 115px;
	height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;

	@media screen and (max-width: 1024px) {
		height: calc(100% - 90px);
	}

	.nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;

		&_item {
			width: 64px;
			height: 64px;
			background-color: white;
			border-radius: 6px;
		}
	}

	.copyright {
		position: absolute;
		bottom: 100px;
		white-space: nowrap;
		color: white;
		font-weight: 500;
		font-size: 12px;
		line-height: 24px;
		transform: rotate(-90deg);

		@media screen and (max-width: 1024px) {
			bottom: 75px;
		}
	}
}
